.new-follow-button {
  background: var(--button-color);
  border: 1px solid;
  border-radius: 0.3em;
  padding-block: 0.25em;
  width: 6em;
  cursor: pointer;
}

.new-follow-button.following {
  background: var(--background-color);
  color: var(--button-text-color);
}
