@media only screen and (max-width: 768px) {
  .rail-preloader {
    height: 9.5em;
  }
}

@media only screen and (min-width: 769px) {
  .rail-preloader {
    height: 13.85em;
  }
}

.rail-preloader {
  width: 100%;
  background-color: var(--background-item-color);
  cursor: pointer;
  border-radius: 1em;
  margin-bottom: 1.5em;
  box-shadow: 0px 1px 32px 4px rgba(0, 0, 0, 0.16);
}
