.rating-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
  background: hsla(0, 0%, 15%, 0.302);
  border-radius: 1em;
}

.rating-container:hover {
  background: hsla(0, 0%, 15%, 0.604);
}

.post-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.created-date {
  color: hsla(0, 0%, 100%, 0.6);
}

.like-button-container {
  all: unset;
  display: flex;
  gap: 0.25em;
}

.post-container > .rating-circle-container {
  width: 3em;
  flex-shrink: 0;
}

.post-container > .rating-circle-container > * {
  font-size: 0.4em;
}
