.rating-container {
  display: flex;
  flex-direction: column;
  gap: 0.125em;
  padding: 0.5em 1em;
  cursor: pointer;
  background: hsla(0, 0%, 15%, 0.302);
  border-radius: 1em;

  -webkit-tap-highlight-color: transparent; /* For Safari */
  user-select: none;
  touch-action: manipulation;
}

.rating-container:hover {
  background-color: var(--hover-color);
}

.created-date {
  color: var(--accent-text-color);
}

.like-button-container {
  all: unset;
  display: flex;
  gap: 0.25em;
}
