.rating-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
  background: hsla(0, 0%, 15%, 0.302);
  border-radius: 1em;
}

.created-date {
  color: hsla(0, 0%, 100%, 0.6);
}

.like-button-container {
  all: unset;
  display: flex;
  gap: 0.25em;
}
