.walkthrough-modal {
  background-color: var(--background-color);
  width: 75%;
  height: 75%;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  border: 1px solid var(--hover-color);
  box-shadow: 0 0.75em 1.5em 0 var(--hover-shadow-color);
}

.walkthrough-modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1em;
  margin: 2em;
}

.walkthrough-image {
  height: inherit;
  width: inherit;
  background-size: cover;
}

.walkthrough-description {
  text-align: start;
  width: inherit;
  margin-left: 0.25em;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.walkthrough-modal-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.walkthrough-modal-footer button {
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: 0;
  font-size: 1em;
  padding: 0;
}

.walkthrough-modal-navigation {
  display: flex;
  gap: 1em;
}

.walkthrough-modal-navigation > .disabled {
  color: var(--accent-text-color);
  cursor: not-allowed;
  pointer-events: none;
}
