.scroll-down-button {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.25s ease-in-out; /* Add a transition for opacity */
}

.scroll-down-button > .custom-button {
  overflow: hidden;
  white-space: nowrap;
}

@media only screen and (max-width: 1025px) {
  .scroll-down-button.show {
    opacity: 1; /* Show the button */
  }
}
