.filters {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
  margin: 0 1em;
}

.filters > .filter {
  display: block;
  cursor: pointer;
  color: white;
  background-color: transparent;
  margin-block: 1em;
  border: 0;
  font-size: 1em;
  padding: 0;
}

.filters > .filter:enabled {
  color: var(--accent-text-color);
}
