.custom-button {
  background: var(--button-color);
  color: var(--button-text-color);
  font-size: 1.2em;
  padding: 0.5em 2em;
  border-radius: 10000px;
  border: 0;
  min-width: 5em;
  cursor: pointer;
  box-shadow: 0 0.5em 1em 0 var(--hover-shadow-color);
  transition: background-color 200ms linear;
  transition: box-shadow 200ms linear;
}

.custom-button:hover {
  background: var(--button-hover-color);
  box-shadow: 0 0.25em 0.5em 0 var(--hover-shadow-color);
}
