.search {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  max-width: 36em;
}

.search-icon {
  position: absolute;
  padding-left: 0.5em;
}

.search-input {
  background-color: white;
  border: none;
  outline: none;
  padding-block: 0.6em;
  padding-left: 2em;
  padding-right: 0.5em;
  font-size: 1em;
  border-radius: 2em;
  width: 100%;
  -webkit-appearance: none !important;
}

.search-input:focus {
  box-shadow: 0 0.4em 1em -1px rgba(255, 255, 255, 0.1), 0 2px 4px -2px rgba(255, 255, 255, 0.1);
}

/* balls to the wall approach to hide safari mobile magnifying glass */
.search-input::-webkit-search-decoration {
  display: none !important;
}
