@media only screen and (max-width: 1025px) {
  .profile-ratings-content-album-preloader-name {
    width: 7em;
  }
}

@media only screen and (min-width: 1026px) {
  .profile-ratings-content-album-preloader-name {
    width: 9em;
  }
}

.profile-rating-avatar-preloader-name {
  width: 10em;
  height: 1.5em;
}

.profile-ratings-content-album-preloader-name {
  height: 0.75em;
}

.profile-ratings-content-album-preloader-artist {
  width: 5em;
  height: 0.75em;
}
