.post-container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  margin-left: 1em;
}

.post-container-content {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 0.75em;
}

.post-container > .rating-circle-container {
  width: calc(3em * 1);
  flex-shrink: 0;
}

.post-container > .rating-circle-container > * {
  font-size: calc(0.4em * 1);
}

.expanded {
  -webkit-line-clamp: 15;
  line-clamp: 15;
}
