.delete-modal-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.delete-modal-text {
  font-size: 1.5em;
  text-align: center;
}

.delete-modal-buttons {
  display: flex;
  gap: 1em;
}

.delete-modal-buttons > .custom-button {
  padding: 0.25em 1em;
}
