.profile-screen-header-follow-info {
  display: flex;
  gap: 0.1em;
}

.profile-screen-header-follow-info > .follow-info {
  cursor: pointer;
  color: var(--accent-text-color);
  font-weight: bold;
  padding-block: 0.1em;
  margin-left: 0.15em;
}

.profile-screen-posts-number {
  color: var(--accent-text-color);
  margin-left: 0.15em;
  font-weight: 400;
}
