@media only screen and (min-width: 1442px) {
  .grid {
    --grid-column-count: 8;
    --grid-item--max-width: calc((94% - var(--total-gap-width)) / var(--grid-column-count));
  }

  .grid-title {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 1441px) {
  .grid {
    --grid-column-count: 7;
    --grid-item--max-width: calc((92% - var(--total-gap-width)) / var(--grid-column-count));
  }

  .grid-title {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 1025px) {
  .grid {
    --grid-column-count: 6;
    --grid-item--max-width: calc((90% - var(--total-gap-width)) / var(--grid-column-count));
  }

  .grid-title {
    font-size: 1.7em;
  }
}

@media only screen and (max-width: 852px) {
  .grid {
    --grid-column-count: 5;
    --grid-item--max-width: calc((90% - var(--total-gap-width)) / var(--grid-column-count));
  }

  .grid-title {
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 426px) {
  .grid {
    --grid-column-count: 3;
    --grid-item--max-width: calc((84% - var(--total-gap-width)) / var(--grid-column-count));
  }

  .grid-title {
    font-size: 1.3em;
  }
}

.grid {
  --grid-layout-gap: 1.5vw;
  /* Calculated values. */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--grid-item--max-width);
  grid-gap: var(--grid-layout-gap);
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  padding-bottom: 0.5em;
  overflow-y: hidden;
}

.grid > * {
  scroll-snap-align: start;
}

.grid-title {
  color: white;
  font-family: Helvetica;
  margin: 0.5em;
}

/* scrollbar never appears when on mobile */
.grid::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}

/* scrollbar appears on hover when on desktop */
@media (hover: hover) and (pointer: fine) {
  .grid:hover::-webkit-scrollbar-thumb {
    background-color: var(--accent-text-color) !important;
  }
}
