@media only screen and (max-width: 1025px) {
  .ratings-circles {
    gap: 2em;
  }
}

@media only screen and (min-width: 1026px) {
  .ratings-circles {
    gap: 5em;
  }
}

.ratings-circles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.no-ratings-text {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ratings-circles > .rating-circle-container {
  width: 11em;
}
