.nav-arrow-ratings-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.nav-arrow-ratings {
  fill: white;
  padding-inline: 10px;
  cursor: pointer;
}

.arrow:disabled {
  cursor: not-allowed;
  border: solid var(--accent-text-color);
}

.community-ratings {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}
