.profile-screen {
  display: flex;
  flex-direction: column;
}

.profile-screen-no-ratings {
  align-self: center;
  font-size: 1.25em;
}

.profile-screen > .loading-carousel {
  margin-top: 0.75em;
  --loader-scale: 1.25;
}
