@media only screen and (max-width: 1025px) {
  .profile-screen-container-posts {
    margin: 0.5em;
  }
}

@media only screen and (min-width: 1026px) {
  .profile-screen-container-posts {
    margin: 1em;
  }
}

.profile-screen-container {
  margin: 0;
}

.profile-screen-container-posts {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
