.no-ratings-container {
  margin: 1em;
  border-radius: 1em;
  height: 10em;
  padding: 1em;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(to bottom, var(--background-item-color) 30%, var(--background-color) 100%);
}

.no-ratings-container > h1 {
  font-size: 1.5em;
  margin: 0.5em;
}
