@media only screen and (max-width: 1025px) {
  .search-album-item {
    padding: 0.2em;
  }

  .search-album-item > img {
    width: 2em;
  }

  .search-album-item > div > p {
    padding: 0 0.5em;
  }

  .search-album-name {
    font-size: 0.7em;
  }

  .search-album-artist {
    font-size: 0.5em;
  }
}

@media only screen and (min-width: 1026px) {
  .search-album-item {
    padding: 0.7em;
  }

  .search-album-item > img {
    width: 2.9em;
  }

  .search-album-item > div > p {
    padding: 0 0.8em;
  }

  .search-album-name {
    font-size: 1.05em;
  }

  .search-album-artist {
    font-size: 0.9em;
  }
}

.search-album-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-album-item:hover {
  background-color: var(--hover-color);
}

.search-album-item > div {
  padding: 0;
}

.search-album-name {
  margin: 0;
}

.search-album-artist {
  color: var(--accent-text-color);
  margin: 0;
}
