:root {
  --background-color: #151515;
  --hover-color: rgba(37, 37, 37, 0.7);
  --background-item-color: rgba(37, 37, 37, 0.3);
  --accent-text-color: rgba(255, 255, 255, 0.6);
  --button-color: #1db954;
  --button-hover-color: #1bc559;
  --button-text-color: white;
  --hover-shadow-color: #0b0b0b;
  --loader-scale: 1;
}

html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

::-webkit-scrollbar {
  background-color: transparent !important;
  height: 5px !important;
  width: 5px !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: var(--accent-text-color);
}

Scrollbar for Firefox :root {
  scrollbar-color: var(--accent-text-color) transparent !important;
  scrollbar-width: thin !important;
}

a {
  color: white;
  text-decoration: none !important;
}

a:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.arrow {
  --arrow-width: 0.125em;
  --arrow-size: calc(3 * var(--arrow-width));
  border: solid white;
  border-width: 0 var(--arrow-width) var(--arrow-width) 0 !important;
  display: inline-block;
  padding: var(--arrow-size);
  cursor: pointer;
}

.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.arrow.arrow-down {
  transform: rotate(45deg);
  margin-block: 0 calc(5 * var(--arrow-width));
  transition: all 0.5s ease;
}

.arrow.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-block: calc(5 * var(--arrow-width)) 0;
  transition: all 0.5s ease;
}

.expanded {
  -webkit-line-clamp: 15;
  line-clamp: 15;
}

.spotify-logo {
  width: 0.8em;
  height: 0.8em;
  margin: 0 0.3em 0 0.1em;
}

.underline:hover {
  text-decoration: underline !important;
}

.avatar-modal-list {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 3em;
  max-height: calc(5 * 3em);
  padding-inline: 1em;
  padding-block: 0.5em;
  width: 15em;
}
