.album-track-number-preloader {
  width: 1.1125em;
  height: 1em;
}

.album-track-name-preloader {
  width: 17em;
  height: 1em;
}

.album-track-artist-names-preloader {
  width: 8em;
  height: 1em;
}
